.header-container{
    width: 100%;
    padding: 10px 20px;
}

.header-link-item{
    margin: 40px 25px;
}

.header-logo{
    width: 310px;
    height: 75px;
}

.header-link-item img{
    width: 20px;
    height: 20px;
}

.header-contact .header-link-item{
    margin: 40px 15px;
}

.slide{
    width: 100%;
    margin: 30px 0;
}

.slide-img{
    width: 500px;
    height: 700px;
    margin: 0 20px;
}

.slide-control{
    margin-top: 10px;
}

.slide-control button{
    margin: 0 5px;
}
