.header-container{
    width: 100%;
    padding: 10px 20px;
}

.header-link-item{
    margin: 40px 25px;
}

.header-logo{
    width: 310px;
    height: 75px;
}

.header-link-item img{
    width: 20px;
    height: 20px;
}

.header-contact .header-link-item{
    margin: 40px 15px;
}

.slide{
    width: 100%;
    margin: 30px 0;
}

.slide-img{
    width: 500px;
    height: 700px;
    margin: 0 20px;
}

.slide-control{
    margin-top: 10px;
}

.slide-control button{
    margin: 0 5px;
}

.service{
    margin-top: 100px;
}

.service-info{
    margin-right: 10%;
}

.service-info .sub-title{
    margin-bottom: 75px;
}

.service-list{
    color: #2E2E34;
    list-style: disc;
}

.service-item{
    color: #2E2E34;
    font-size: 20px;
}

.service-image{
    width: 850px;
    height: 640px;
}

.portfolio{
    padding-bottom: 130px;
}

.portfolio-text{
    padding: 75px 175px;
}

.portfolio-text .title{
    color: white;
}

.scheme-work{
    margin-top: 113px;
    width: 85%;
}

.scheme-work .title{
    margin-bottom: 50px;
}

.scheme-work-title{
    font-size: 60px;
    color: #181818;
    margin-bottom: 40px;
}

.work-item{
    width: 380px;
    margin: 0 12px;
}

.work-step{
    background-color: #FBFAF9;
}

.work-step-number{
    background-color: #89B867;
    color: white;
    font-size: 24px;
    padding: 13px 24px;
}

.work-step-title{
    color: #2E2E34;
    font-size: 20px;
}

.work-text{
    margin-top: 16px;
}

.advantages-section{
    margin: 84px 72px;
}

.advantages-section .title{
    margin-bottom: 70px;
}

.advantages-text{
    margin-right: 50px;
}

.advantages-text .sub-title{
    margin-bottom: 50px;
}

.advantages-text .green-button{
    margin-top: 30px;
}
